<div>
	<img class="bl-logo" src="/images/bl-logo.jpg" height=75 width=100>
	<a href="/">Home</a>

	<h1>{{title}}</h1>
	<img src="{{url}}" />
	<ul>
		{{#each results}}
			{{#if this.text}}
				<li> tag :: {{this.text}} | score :: {{this.score}} </li>
			{{/if}}
			{{#if this.tag}}
				<li> tag :: {{this.tag}} | score :: {{this.confidence}} </li>
			{{/if}}
		{{/each}}
	</ul>
</div>