<div style="width:75%;margin:0 auto">
	<img class="bl-logo" src="/images/bl-logo.jpg" height=75 width=100>
	<a href="/">Home</a>
	<h1>{{apiName}}</h1>
	<h2>{{imageTitle}}</h2>
	<img src="{{url}}" style="max-width:50%;"/>
	<ul>
		{{#each results}}
			{{#if this.text}}
				<li> tag :: {{this.text}} | score :: {{this.score}} </li>
			{{/if}}
			{{#if this.tag}}
				<li> tag :: {{this.tag}} | score :: {{this.confidence}} </li>
			{{/if}}
		{{/each}}
	</ul>
	<h3>Details</h3>
	<ul>
		<li>volume : {{volume}}</li>
		<li>publisher : {{publisher}}</li>
		<li>title : {{imageTitle}}</li>
		<li>author : {{author}}</li>
		<li>place of publication : {{publicationPlace}}</li>
		<li>bookID : {{bookID}}</li>
		<li>year : {{year}}</li>
		<li>page : {{page}}</li>
	</ul>
</div>