<div class="page" id="image-page">
	<div id="image-page-header">
		<a href="/"><img class="bl-logo" src="/images/bl-logo.jpg" height=75 width=100></a>
		<a href="javascript:history.go(-1)">Back to search</a>
	</div>
	<hr>
	<h3 class="center-text">{{imageTitle}}</h3>
	<img src="{{url}}" id="image-size"/>
	<div id="desc-panel">
		<div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Image Details</h3>
            </div>
            <div class="panel-body">
				<i class="fa fa-book"></i> Volume : {{volume}}<br>
				<i class="fa fa-institution"></i> Publisher : {{publisher}}<br>
				<i class="fa fa-pencil"></i> Title : {{imageTitle}}<br>
				<i class="fa fa-user"></i> Author : {{author}}<br>
				<i class="fa fa-compass"></i> Place of Publication : {{publicationPlace}}<br>
				<i class="fa fa-barcode"></i> Book ID : {{bookID}}<br>
				<i class="fa fa-calendar"></i> Year : {{year}}<br>
				<i class="fa fa-bookmark"></i> Page : {{page}}<br>
            </div>
      	</div>
      	{{#if alchemyTags}}
		<div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Generated Tags : Alchemy</h3>
            </div>
            <div class="panel-body">
            	<div class="tags">
            		{{#each alchemyTags}}
						{{#if this.text}}
							<a class="tag" href="http://localhost:3000/searchTags/{{this.tag}}">{{this.text}} : {{convertToPercentage this.score}} </a>
						{{/if}}
					{{/each}}
				</div>
            </div>
      	</div>
      	{{/if}}
      	{{#if imaggaTags}}
      	<div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Generated Tags : Imagga</h3>
            </div>
            <div class="panel-body">
            	<div class="tags">
            		{{#each imaggaTags}}
						{{#if this.tag}}
							<a class="tag" href="http://localhost:3000/searchTags/{{this.tag}}">{{this.tag}} : {{shortenDecimal this.confidence}} 
							</a>
						{{/if}}
					{{/each}}
				</div>
            </div>
      	</div>
      	{{/if}}
	</div>
</div>