<div class="page">
	<div id="search-page-top">
		<a class="bl-top-logo" href="http://www.bl.uk/" target=blank><img class="bl-logo" src="/images/bl-logo.jpg" height=75 width=100></a>
		<div id="search-bar-top">
			<form action="">
				<input type="radio" name="searchType" value="title" {{searchByTitle}}> By Titles | 
				<input type="radio" name="searchType" value="tags" {{searchByTags}}> By Tags
			</form>
			<form id="query" action="/search" method="post">
				<input placeholder="Browse Collection" value="{{searchQuery}}" type="text" size="80" name="query">
	   			<input type="submit" value="Search" class="submitButton">
			</form>
			{{#if searchQuery}}
			<h4>Search results by "{{searchType}}" for "{{searchQuery}}"</h4>
			{{/if}}
		</div>
		<a href="/" class="back-search"  style="padding-top:40px;margin-right:20px;"> <i class="fa fa-home"></i>Home</a>
	</div>
	<div id="search-results-container">
		<div id="wrapper">
			<h4 class="center-text">{{noResults}}</h4>
			<div id="columns">
				{{#if imageResults}}
					{{#each imageResults}}
					<div class="pin">
						<a href="/search/{{this._id}}">
							<img src={{this.flickr_medium_source}} >
						</a>
						<a href="/search/{{this._id}}">
							{{shortenString this.title}}
						</a>
						<hr>
					</div>
					{{/each}}
				{{/if}}
			</div>
		</div>
	</div>
</div>